html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }
  html *,
  body * {
    font-family: 'Raleway', sans-serif !important; }
  html ::-webkit-scrollbar,
  body ::-webkit-scrollbar {
    display: none; }

.generalHolder {
  margin-top: 80px;
  height: 100%;
  width: 100%;
  overflow: auto; }

.loading {
  position: fixed;
  background: white;
  top: 80px;
  bottom: 0%;
  left: 0%;
  right: 0%;
  z-index: 1; }

.navBar {
  top: 0;
  background: #111;
  color: white;
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 1;
  text-align: center; }
  .navBar .newPostButton {
    margin: 15px auto;
    border: none;
    color: white;
    top: 0%;
    bottom: 0%;
    width: 8rem;
    height: 3rem;
    background: transparent;
    transition: 300ms; }
    .navBar .newPostButton:nth-child(1) {
      border-left: 2px solid white;
      border-bottom: 2px solid white;
      border-top: 2px solid white;
      border-right: 2px solid white; }
    .navBar .newPostButton:nth-child(2) {
      border-right: 2px solid white;
      border-bottom: 2px solid white;
      border-top: 2px solid white; }
    .navBar .newPostButton:focus, .navBar .newPostButton:active {
      outline: none; }
    .navBar .newPostButton:hover {
      transition: 300ms;
      background: white;
      color: pink; }

.hide {
  display: none; }

.holder {
  overflow: auto;
  margin: auto;
  height: 400px;
  background: none;
  outline: none;
  border: none;
  min-height: 400px;
  position: relative;
  display: block; }

.insideThing, .readView {
  top: 5%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }
  .insideThing *, .readView * {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px; }
  .insideThing .articleImage, .readView .articleImage {
    margin: auto;
    background: gray;
    background-size: cover;
    height: 100%;
    width: 95%;
    background-position: top;
    filter: sepia(5%);
    background-repeat: no-repeat;
    position: relative;
    transition: 300ms; }
    .insideThing .articleImage:hover, .readView .articleImage:hover {
      transition: 300ms;
      border: 2px solid pink; }
    .insideThing .articleImage span, .readView .articleImage span, .insideThing .articleImage .title, .readView .articleImage .title, .insideThing .articleImage .publishedBy, .readView .articleImage .publishedBy {
      position: absolute;
      right: 20px;
      display: inline-block;
      padding: .05em 1em;
      text-transform: uppercase; }
    .insideThing .articleImage .title, .readView .articleImage .title {
      bottom: 48px;
      background: white; }
      .insideThing .articleImage .title *, .readView .articleImage .title * {
        font-size: 29px;
        color: #222; }
    .insideThing .articleImage .publishedBy, .readView .articleImage .publishedBy {
      z-index: 1;
      bottom: 28px;
      background: pink; }
      .insideThing .articleImage .publishedBy *, .readView .articleImage .publishedBy * {
        display: inline-block;
        text-align: left;
        font-size: 14px;
        color: white; }
    .insideThing .articleImage .datePublished, .readView .articleImage .datePublished {
      background: #222;
      text-align: right !important;
      font-size: 12px !important;
      color: white !important;
      right: 20px;
      margin-top: 1em;
      position: absolute;
      bottom: 5px; }

.readView {
  top: initial;
  bottom: initial;
  overflow: initial;
  position: absolute;
  font-family: sans-serif;
  line-height: 2em;
  font-weight: 300;
  padding: 2em 5em; }
  .readView div {
    text-align: justify; }
  .readView .articleImage {
    max-width: 600px; }
